h1 {
  line-height: 1.2;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
  padding: 30px;
}

.landing-hero {
  position: relative;
  overflow: hidden;
  padding: 150px 50px;
}

.landing-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.explore-together-top,
.explore-together-bottom {
  background-color: white;
  border-radius: 25px 0px 25px 25px;
}

.explore-together-top,
.explore-together-bottom {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 75ch;
  padding: 5px;
}

.explore-together-top h1,
.explore-together-top h2,
.explore-together-bottom p {
  position: relative;
  padding: 10px;
}

.sidekick {
  text-align: left;
  top: 40px;
  padding: 40px;
  position: relative;
  max-width: 85ch;
  border-radius: 25px 25px 0px 25px;
  display: flex;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

.landing-explore {
  padding-bottom: 80px;
  position: relative;
  background-color: #f1f1f1;
  bottom: -90px;
  z-index: -3;
}

.landing-explore img {
  height: 150px;
  border-radius: 25px 25px 25px 0px;
  float: right;
}

.landing-explore-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  margin: auto;
  max-width: 67ch;
}

.landing-explore-container a {
  margin: auto;
}

.landing-explore-content {
  text-align: left;
  margin: auto;
  max-width: 77ch;
}

.landing-explore-button {
  margin: auto;
  width: 260px;
  padding-bottom: 90px;
  position: relative;
}

.landing-spaces {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
}

.landing-spaces h1 {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  max-width: 48rem;
  height: 350px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 250px;
  margin: auto;
  border-radius: 25px 0 25px 25px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  padding: 10px;
  bottom: -40px;
  max-width: 200px;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #40a650;
  opacity: 0.5;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.landing-events {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  position: relative;
}

.landing-events-top {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
  padding: 30px;
}

.landing-events-bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
  padding: 30px;
}

.event-images {
  display: flex;
  max-width: 70px;
  max-height: 105px;
  object-fit: cover;
  border-radius: 25px 0px 25px 25px;
  margin: auto;
}

.landing-bottom {
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  position: relative;
  margin: auto;
  align-items: center;
  padding: 50px 30px;
}

/* PLANETS AAAAH*/
/* I think this is the best I can do. I don't understand how to get them to resize without everything breaking, so they're only for desktop view. I've sat with this for 7 hours straight now and I need to move on...*/

.planets-container {
  display: none;
  justify-content: center;
  max-width: 100%;
  height: 460px;
  margin: auto;
}

.planets {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px;
}

.planets img {
  object-fit: cover;
}

.design-element {
  width: 1274px;
  height: 360px;
  position: relative;
  margin: auto;
}

/* I  couldn't (and still cant) get the planetary ring to look right. I had to ask CoPilot for help with this element, but it just wanted to make it a square... */

.circle {
  width: 589.5px;
  height: 45px;
  position: absolute;
  left: 337.1px;
  top: 198.18px;
  transform: rotate(-8deg);
  transform-origin: top left;
  border-radius: 50% / 50%;
  border: 19px #db6c41 solid;
}

.main-image {
  width: 318px;
  height: 318px;
  position: absolute;
  left: 476px;
  top: 21px;
  border-radius: 9999px;
}

.small-image {
  position: absolute;
  border-radius: 9999px;
}

.small-image-1 {
  width: 96px;
  height: 96px;
  left: 123px;
  top: 132px;
}

.small-image-2 {
  width: 95px;
  height: 96px;
  left: 271px;
  top: 231px;
}

.small-image-3 {
  width: 96px;
  height: 95px;
  left: 903px;
  top: 148px;
}

.small-image-4 {
  width: 96px;
  height: 95px;
  left: 1045px;
  top: 53px;
}

.star {
  position: absolute;
}

.star-1 {
  left: 287.57px;
  top: 70.44px;
  width: 21px;
  height: 19px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>')
    no-repeat center center;
  background-size: contain;
}

.star-2 {
  left: 411.85px;
  top: 150.61px;
  width: 20px;
  height: 21px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>')
    no-repeat center center;
  background-size: contain;
}

.star-3 {
  left: 979.13px;
  top: 59.41px;
  width: 22px;
  height: 19px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>')
    no-repeat center center;
  background-size: contain;
}

.star-4 {
  left: 864.66px;
  top: 308.41px;
  width: 21px;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>')
    no-repeat center center;
  background-size: contain;
}
