h1 {
  line-height: 1.2;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: xx-large;
  text-align: center;
}

.landing-hero {
  position: relative;
  overflow: hidden;
  padding: 50px;
  top: 80px;
}

.landing-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.explore-together-top,
.explore-together-bottom {
  background-color: white;
  border-radius: 25px 0px 25px 25px;
}

.explore-together-top,
.explore-together-bottom {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 75ch;
  padding: 5px;
}

.explore-together-top h1,
.explore-together-top h2,
.explore-together-bottom p {
  position: relative;
  padding: 10px;
}

.sidekick {
  text-align: left;
  top: 90px;
  padding: 40px;
  position: relative;
  max-width: 85ch;
  border-radius: 25px 25px 0px 25px;
  display: flex;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

.landing-explore {
  padding-bottom: 80px;
  position: relative;
  background-color: #f1f1f1;
  bottom: -90px;
  z-index: -3;
}

.landing-explore img {
  height: 150px;
  border-radius: 25px 25px 25px 0px;
  float: right;
}

.landing-explore-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  margin: auto;
  max-width: 67ch;
}

.landing-explore-container a {
  margin: auto;
}

.landing-explore-content {
  text-align: left;
  margin: auto;
  max-width: 77ch;
}

.landing-explore-button {
  margin: auto;
  width: 260px;
  padding-bottom: 90px;
  position: relative;
}

.landing-spaces {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
}

.landing-spaces h1 {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  max-width: 48rem;
  height: 350px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 12/10;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 250px;
  margin: auto;
  border-radius: 25px 0 25px 25px;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  padding: 10px;
  bottom: -40px;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #40a650;
  opacity: 0.5;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

.landing-events {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  position: relative;
}

.landing-events-top {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
}

.landing-events-bottom {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
  margin: auto;
  max-width: 67ch;
  gap: 20px;
  position: relative;
  bottom: 40px;
}

.event-images {
  display: flex;
  max-width: 70px;
  max-height: 105px;
  object-fit: cover;
  border-radius: 25px 0px 25px 25px;
  margin: auto;
}

.landing-bottom {
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  position: relative;
  margin: auto;
  align-items: center;
  padding-bottom: 50px;
}
