@media (min-width: 400px) {
}

@media (min-width: 600px) {
  .name-desktop {
    display: contents;
  }
  .name-mobile {
    display: none;
  }

  .top-footer-desktop {
    position: relative;
    display: grid;
    background-color: #103c47;
    color: #fff;
    z-index: 9;
    padding-bottom: 2em;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0 -6px 10px rgba(0, 0, 0, 0.23);
  }

  .top-footer-mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .landing-explore img {
    height: 478px;
    border-radius: 25px 25px 25px 0px;
  }

  .landing-explore-content {
  }
}
