@media (min-width: 400px) {
}

@media (min-width: 600px) {
  .name-desktop {
    display: contents;
  }
  .name-mobile {
    display: none;
  }

  .top-footer-desktop {
    position: relative;
    display: grid;
    background-color: #103c47;
    color: #fff;
    z-index: 9;
    padding-bottom: 2em;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0 -6px 10px rgba(0, 0, 0, 0.23);
  }

  .top-footer-mobile {
    display: none;
  }

  .teachers-hero-desktop {
    float: right;
  }

  .teachers-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .teachers-text {
    float: left;
  }

  .researcher-content-desktop {
    display: block;
  }

  .researcher-content-mobile {
    display: none;
  }
}

@media (min-width: 800px) {
  .researchers-mobile {
    display: none;
  }

  .researchers-desktop {
    display: block;
  }
}

@media (min-width: 1200px) {
  .landing-explore img {
    height: 478px;
    border-radius: 25px 25px 25px 0px;
  }

  .event-left {
    flex-direction: row;
  }

  .event-left h3 {
    font-size: 1.8em;
    width: 50%;
  }

  .event-right {
    flex-direction: row;
  }

  .event-right h3 {
    font-size: 1.8em;
    width: 50%;
  }

  .image-frame {
    width: 555px;
    height: 300px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 25px 25px 0px 25px;
    padding: 0 40px 0 40px;
  }

  .involved-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    max-width: 1337px;
    margin: auto;
  }

  .involved-h1-desktop {
    display: contents;
  }

  .involved-h1-mobile {
    display: none;
  }

  .info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 25px;
    background-color: #f9f9f9;
    margin: auto;
    max-width: 1180px;
  }

  .info-color {
    background-color: #f9f9f9;
  }
}
