@media (min-width: 300px) {
  #hero-video {
    position: absolute;
    width: 100vw;
    height: 135vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: -1;
  }
}

@media (min-width: 400px) {
  .explore-together {
    top: 20px;
    position: relative;
  }

  #hero-video {
    position: absolute;
    width: 100vw;
    height: 125vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: -1;
  }
}

@media (min-width: 600px) {
  .name-desktop {
    display: contents;
  }
  .name-mobile {
    display: none;
  }

  .top-footer-desktop {
    position: relative;
    display: grid;
    background-color: #103c47;
    color: #fff;
    z-index: 9;
    padding-bottom: 2em;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19),
      0 -6px 10px rgba(0, 0, 0, 0.23);
  }

  .top-footer-mobile {
    display: none;
  }

  .teachers-hero-desktop {
    float: right;
  }

  .teachers-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .teachers-text {
    float: left;
  }

  .researcher-content-desktop {
    display: block;
  }

  .researcher-content-mobile {
    display: none;
  }

  .map-mobile {
    display: none;
  }

  .map-desktop {
    display: block;
  }

  .tickets {
    top: 50px;
  }
}

@media (min-width: 800px) {
  .researchers-mobile {
    display: none;
  }

  .researchers-desktop {
    display: block;
  }

  .researchers-text-desktop {
    max-width: 90ch;
    margin: auto;
    padding: 20px;
  }

  .researchers-text-desktop h2 {
    max-width: 42ch;
  }

  .researchers-hero-desktop {
    display: block;
    max-width: 100%;
    height: 290px;
    margin: auto;
    border-radius: 25px 25px 25px 0px;
  }
}

@media (min-width: 1200px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 10;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-desktop nav,
  .header-desktop li {
    display: inline-block;
    padding: 0 1em;
  }

  a {
    color: black;
  }

  .landing-explore img {
    height: 478px;
    border-radius: 25px 25px 25px 0px;
  }

  .event-left {
    flex-direction: row;
  }

  .event-left h3 {
    font-size: 1.8em;
    width: 50%;
  }

  .event-right {
    flex-direction: row;
  }

  .event-right h3 {
    font-size: 1.8em;
    width: 50%;
  }

  .image-frame {
    width: 555px;
    height: 300px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 25px 25px 0px 25px;
    padding: 0 40px 0 40px;
  }

  .involved-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    max-width: 1337px;
    margin: auto;
  }

  .involved-h1-desktop {
    display: contents;
  }

  .involved-h1-mobile {
    display: none;
  }

  .info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 25px;
    background-color: #f9f9f9;
    margin: auto;
    max-width: 1180px;
  }

  .info-color {
    background-color: #f9f9f9;
  }

  .find-us {
    display: block;
  }

  .upcoming {
    display: flex;
  }
}
