/* Hero section*/

.spaces-hero {
  max-width: 70ch;
  margin: auto;
  padding: 70px;
  top: 80px;
  position: relative;
  text-align: center;
}

.spaces-hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 45px;
  text-align: left;
}

/* Head exhibitions. These would be exchangeable */

.head-exhibitions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.exhibitions-top {
  width: 300px;
}

.exhibitions-top img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50px 50px 0px 50px;
  margin: auto;
}

/* Cosmology section */

/* I love cosmology, and I wish I had more time
to totally nerd out on the exhibition design */

.cosmology {
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.cosmology::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cosmo-top,
.cosmo-bottom {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 75ch;
  padding: 5px;
}

.cosmo-top:hover,
.cosmo-bottom:hover {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 75ch;
  padding: 5px;
  background-color: black;
  border-radius: 0 50px 50px 50px;
  transition: 500ms;
}

.cosmo-top h3,
.cosmo-top h2,
.cosmo-bottom p {
  position: relative;
  color: white;
  padding: 10px;
}

/* Robotics section */

.robotics {
  position: relative;
  max-width: 90ch;
  margin: auto;
  padding: 25px;
}

.robotics img {
  width: 100%;
  max-height: 380px;
  border-radius: 50px 50px 0px 50px;
}

/* Bottom section */

.spaces-bottom {
  max-width: 100%;
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
}

.spaces-bottom .cta-contrast {
  margin: auto;
  padding: 20px;
}
