/* Global */

@font-face {
  font-family: Playfair Display;
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf) format("truetype");
}

@font-face {
  font-family: Slackey;
  src: url(../fonts/Slackey/Slackey-Regular.ttf) format("truetype");
}

h1 {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  color: #000000;
  text-align: left;
  margin-top: 20px;
}

p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;
}

body {
  margin: 0;
}

/* Header */

header {
  background-color: #fff;
  position: sticky;
}

.header-logo {
  max-width: 5em;
  border-radius: 50%;
}

.name-desktop {
  display: none;
  left: 0px;
}

.name-mobile {
  left: 0px;
}

.header-mobile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: sticky;
  font-size: large;
  z-index: 10;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair Display", serif;
}

nav {
  display: none;
  position: fixed;
  top: 80px;
  z-index: 11;
  background-color: #ffffff;
  right: 0px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 4, 0.23);
}

nav li {
  padding: 0 2em 10px 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

#hamburger-menu {
  display: none;
  z-index: 15;
}

#hamburger-menu:checked ~ nav {
  display: block;
  border-radius: 25px 0px 0px 25px;
}

.hamburger-text {
  color: #000000;
  text-align: left;
  font-size: large;
}

/* Footer */

.top-footer-desktop {
  display: none;
}

.top-footer-mobile {
  position: relative;
  display: grid;
  background-color: #103c47;
  color: #fff;
  z-index: 9;
  padding-bottom: 2em;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 -6px 10px rgba(0, 0, 0, 0.23);
}

.top-footer-mobile a,
.top-footer-mobile p,
.top-footer-desktop a,
.top-footer-desktop p {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer-links-left {
  color: #fff;
  grid-column: 1;
  padding-left: 10px;
  position: absolute;
}

.footer-links-left:hover {
  text-decoration: underline;
}

.footer-links-right {
  grid-column: 3;
  text-align: right;
  max-width: 15ch;
  right: 10px;
  padding-left: 0;
  position: absolute;
}

.footer-links-center {
  grid-column: 2;
  padding-bottom: 2em;
  margin: left;
  text-align: left;
}

.footer-links-center p {
  text-align: left;
}

.bottom-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #103c47;
  color: #ffffff;
  z-index: 9;
}

.bottom-footer a {
  color: #ffffff;
}

.social-logos {
  font-size: x-large;
}

.copyright {
  position: relative;
  font-size: 0.8em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #103c47;
  color: #ffffff;
  padding-top: 1em;
  z-index: 9;
}

/* Buttons */

.cta {
  background-color: #40a650;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
}

.cta-contrast {
  background-color: #db6c41;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cta-footer {
  background-color: #db6c41;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: small;
  margin: auto;
}
