/* Global */

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf) format("truetype");
}

@font-face {
  font-family: "Slackey";
  src: url(../fonts/Slackey/Slackey-Regular.ttf) format("truetype");
}

h1 {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  color: #000000;
  text-align: left;
  margin-top: 20px;
  font-weight: 400;
}

p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1px;
}

body {
  margin: 0 !important;
}

.current {
  text-decoration: underline !important;
}

/* Header */

header {
  background-color: #fff;
  position: sticky;
}

.header-logo {
  max-width: 5em;
  border-radius: 50%;
}

.name-desktop {
  display: none;
  left: 0px;
  font-size: large;
  font-family: "Playfair Display", serif;
}

.header-desktop {
  display: none;
  top: 0px;
}

.header-text {
  width: 100%;
  height: 1em;
  margin: auto;
}

.name-mobile {
  left: 0px;
  font-size: large;
}

.header-mobile {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: fixed;
  font-size: large;
  width: 100%;
  z-index: 10;
  top: 0px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.header-mobile nav {
  display: none;
  position: fixed;
  top: 80px;
  z-index: 11;
  background-color: #ffffff;
  right: 0px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 4, 0.23);
}

nav li {
  padding: 0 2em 10px 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li a:hover {
  font-weight: 600;
  color: #103c47;
}

#hamburger-menu {
  display: none;
  z-index: 15;
}

#hamburger-menu:checked ~ nav {
  display: block;
  border-radius: 25px 0px 0px 25px;
}

.hamburger-text {
  color: #000000;
  text-align: left;
  font-size: large;
}

/* Footer */

footer ul {
  padding: 5px;
}

footer li a:hover {
  font-weight: 600;
  color: #f9f9f9;
}

.top-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #103c47;
  color: #fff;
  z-index: 9;
  align-items: start;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0 -6px 10px rgba(0, 0, 0, 0.23);
}

.top-footer a,
.top-footer p {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.footer-links-left {
  color: #fff;
}

.footer-links-right {
  text-align: right;
  max-width: 15ch;
}

.footer-links-center {
  padding-bottom: 2em;
  text-align: left;
  text-align: center;
}

.bottom-footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #103c47;
  z-index: 9;
}

.bottom-footer a {
  color: #ffffff;
}

.social-logos {
  font-size: x-large;
  padding: 0px 30px;
}

.copyright {
  position: relative;
  font-size: 0.8em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #103c47;
  color: #ffffff;
  padding-top: 1em;
  z-index: 9;
}

/* Global Buttons */

.cta {
  background-color: #40a650;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
}

.cta:hover {
  background-color: #3e7149;
  transition: 500ms;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
}

.cta:active {
  background-color: #103c47;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
}

.cta-contrast {
  background-color: #db6c41;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cta-contrast:hover {
  background-color: #40a650;
  color: #fff;
  transition: 500ms;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cta-contrast:active {
  background-color: #db6c41;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cta-footer {
  background-color: #db6c41;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: small;
  margin: auto;
}

.cta-footer:hover {
  background-color: #40a650;
  color: #fff;
  padding: 15px;
  transition: 500ms;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: small;
  margin: auto;
}

.cta-explore {
  position: relative;
  background-color: transparent;
  color: #fff;
  padding: 20px 100px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  transition: 500ms;
}

.cta-explore::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 1.5);
}

.cta-explore:hover {
  position: relative;
  background-color: transparent;
  color: #fff;
  padding: 20px 100px;
  text-align: center;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  transition: 500ms;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1), 0 -6px 10px rgba(0, 0, 0, 0.23);
}

.cta-explore video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  pointer-events: none;
}
