h3 {
  font-size: xx-large;
}

/* "Hero" section (bad name for what it is i guess) */

.visit-hero {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 40px;
  gap: 90px;
  justify-content: center;
  top: 50px;
}

.map-desktop {
  display: none;
}

.find-us {
  display: none;
}

.find-us h3 {
  max-width: 16ch;
}

.find-us img {
  width: 398px;
  max-height: 265px;
  border-radius: 50px 50px 0px 50px;
}

/* Admission section */

.admission {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  padding: 35px;
  background-color: #f9f9f9;
}

.admission p {
  max-width: 70ch;
}

/* Accessibility section */

.accessibility {
  display: flex;
  flex-direction: row;
  padding: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.accessibility h2 {
  max-width: 55ch;
}

.accessibility img {
  max-width: 240px;
  max-height: 275px;
  position: relative;
  margin: auto;
  object-fit: cover;
  border-radius: 25px 25px 0px 25px;
  align-self: bottom;
}

/* Café section */

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 35px;
  background-color: #f9f9f9;
}

.food h2 {
  max-width: 55ch;
}

.food img {
  width: 100%;
  max-height: 380px;
  border-radius: 50px 50px 0px 50px;
}

/* Shop section */

.shop {
  display: flex;
  flex-direction: column;
  padding: 90px;
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.shop h2 {
  max-width: 55ch;
}

.shop img {
  width: 100%;
  max-height: 380px;
  border-radius: 50px 50px 0px 50px;
}
